# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
data.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
data['Salary or Hourly'].value_counts()

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

In [6]:
data[data['Hourly Rate'].isna() == False]

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
15,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,40.78
16,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
21,"AGUAYO, LUIS M",LABORER - APPRENTICE,WATER MGMNT,F,Hourly,40.0,NaN,34.98
...,...,...,...,...,...,...,...,...
33676,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,25.95
33678,"ZUNO, ERIK",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,43.72
33681,"ZURAWSKI, JEFFREY",FRM OF MACHINISTS - AUTOMOTIVE,DAIS,F,Hourly,40.0,NaN,51.43
33684,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,PUBLIC SAFETY ADMIN,F,Hourly,40.0,NaN,49.35
33688,"ZWARYCZ, THOMAS J",MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,37.45

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
data['Department'].value_counts()

POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [8]:
data_hourly = data[data['Salary or Hourly'] == 'Hourly']

In [9]:
data_hourly

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
15,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,40.78
16,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
21,"AGUAYO, LUIS M",LABORER - APPRENTICE,WATER MGMNT,F,Hourly,40.0,NaN,34.98
...,...,...,...,...,...,...,...,...
33676,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,25.95
33678,"ZUNO, ERIK",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,43.72
33681,"ZURAWSKI, JEFFREY",FRM OF MACHINISTS - AUTOMOTIVE,DAIS,F,Hourly,40.0,NaN,51.43
33684,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,PUBLIC SAFETY ADMIN,F,Hourly,40.0,NaN,49.35
33688,"ZWARYCZ, THOMAS J",MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,37.45

In [10]:
h_hourly_rate = data_hourly['Hourly Rate']

H0: h_hourly_rate mean = 30

H1: h_hourly_rate mean != 30

In [11]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(h_hourly_rate, 30)

In [12]:
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202

- We can reject the null hypothesis as we obtain a pvalue that is close to zero. We also obtain a high stat value. There is **enough evidence to reject the null hypothesis and to say that the hourly rate of hourly workers is significantly different from 30$/h**.

Sample mean:

In [13]:
h_hourly_rate.mean()

34.58644971862002

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [14]:
data_police = data[data['Department'] == 'POLICE']

In [15]:
data_police['Salary or Hourly'].value_counts()

Salary    13824
Hourly       24
Name: Salary or Hourly, dtype: int64

In [16]:
police_salaried = data_police[data_police['Salary or Hourly'] == 'Salary']
police_salaried.shape

(13824, 8)

In [17]:
pol_salaries = police_salaried['Annual Salary']

In [18]:
pol_salaries

1         93354.0
4         90024.0
6        111444.0
7        103932.0
9         95736.0
           ...
33696     80016.0
33697     72510.0
33698     76266.0
33699     90024.0
33700     93354.0
Name: Annual Salary, Length: 13824, dtype: float64

H0: pol_salaries mean <= 86000

H1: pol_salaries mean > 86000

In [19]:
stat, pval = ttest_1samp(pol_salaries, 86000)
print('stat for the one-tailed test is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat for the one-tailed test is   18.51748561981861
pvalue for the one-tailed test is  6.119566952121482e-76

- We can reject the null hypothesis. We can reject that they are equal to 86000 (p-value smaller than 0.05) and **we can reject that they are smaller than 86000** (stat value is positive).

Sample mean:

In [20]:
pol_salaries.mean()

88834.11892361111

Using the `crosstab` function, find the department that has the most hourly workers.

In [21]:
crosstable = pd.crosstab(data['Department'], data[data['Salary or Hourly']=='Hourly']['Salary or Hourly'])

In [22]:
crosstable

Salary or Hourly     Hourly
Department
ANIMAL CONTRL            12
AVIATION               1214
BUDGET & MGMT             2
BUSINESS AFFAIRS          7
CITY COUNCIL             74
CULTURAL AFFAIRS         10
DAIS                    745
DISABILITIES              1
FAMILY & SUPPORT        357
FINANCE                  45
HEALTH                    2
HOUSING & ECON DEV        3
LAW                      48
MAYOR'S OFFICE           17
OEMC                   1077
POLICE                   24
PROCUREMENT               2
PUBLIC LIBRARY          356
PUBLIC SAFETY ADMIN      48
STREETS & SAN          1846
TRANSPORTN              726
WATER MGMNT            1558

In [23]:
crosstable.idxmax()

Salary or Hourly
Hourly    STREETS & SAN
dtype: object

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [24]:
data_streetsan = data[data['Department'] == 'STREETS & SAN']

In [25]:
data_streetsan_hourly = data_streetsan[data_streetsan['Salary or Hourly'] == 'Hourly']

H0: data_streetsan_hourly mean >= 35

H1: data_streetsan_hourly mean < 35

In [26]:
stat, pval = ttest_1samp(data_streetsan_hourly['Hourly Rate'], 35)
print('stat for the one-tailed test is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat for the one-tailed test is   4.000138803968834
pvalue for the one-tailed test is  3.2902372218867895e-05

- We cannot reject the null hypothesis. Our p-value rejects the equality, but the positive value of the stat suggests that the mean is larger than 35$/h. With these values, there is **enough evidence to say that the mean of the street and sanitation hourly workers hourly rate is larger than 35$/h**.

Sample mean:

In [27]:
data_streetsan_hourly['Hourly Rate'].mean()

35.5522968580715

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [28]:
rate_hourly = data[data['Salary or Hourly'] == 'Hourly']['Hourly Rate']

In [29]:
rate_hourly.shape

(8174,)

In [30]:
import scipy.stats

confidence_level = 0.95
degrees_freedom = len(rate_hourly) - 1
sample_mean = np.mean(rate_hourly)
sample_standard_error = scipy.stats.sem(rate_hourly)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [31]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204317, 34.874504045196865) .

In [32]:
sample_standard_error

0.14694742867989574

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [33]:
import scipy.stats

confidence_level = 0.95
degrees_freedom = len(pol_salaries) - 1
sample_mean = np.mean(pol_salaries)
sample_standard_error = scipy.stats.sem(pol_salaries)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [34]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (88534.1182885883, 89134.11955863392) .

In [35]:
sample_standard_error

153.0509585263483

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

H0: hourly workers = 25% of total workers

H1: hourly workers != 25% of total workers

In [36]:
import statsmodels.api as sm

hourly_workers = len(data[data['Salary or Hourly'] == 'Hourly'])

total_workers = len(data)

expected_prop = 0.25

count = hourly_workers
nobs = total_workers
value = expected_prop

zstat, pvalue = sm.stats.proportions_ztest(count, nobs, value)

print('zstat is  ', zstat)
print('pvalue for the one-tailed test is ', pvalue)

zstat is   -3.1962453870335
pvalue for the one-tailed test is  0.0013922864704323116

- With this p-value, there is enough evidence to **reject the null hyptothesis that the number of hourly workers is equal to 25%**. The zstat value indicates that the proportion of hourly workers in the population is probably smaller than 25%.